@model NpsProject.Views.Home.AboutModel
@{
    ViewData["Page_title"] = "اعرف اكثر عنا";
}
<partial name="_TopHeader" />

<p>test</p>
@section scripts {
    <!-- lib JS Files -->
    <script src="~/lib/php-email-form/validate.js"></script>
    <script src="~/lib/aos/aos.js"></script>

    <script src="~/lib/glightbox/js/glightbox.min.js"></script>
    <script src="~/lib/purecounter/purecounter_vanilla.js"></script>
    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    @* <script>
      AOS.init();
    </script> *@

    <!-- Main JS File -->
    <script src="~/js/main.js"></script>
}