body {
    background-color: var( --light-backgroun);
}
.article-content {
    color: #333;
}

    .article-content p {
        margin-bottom: 1.5rem;
    }

.news-content-body {
    text-align: justify;
    font-size: 1.1rem;
    line-height: 2;
    background: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    color: #242424;
}

.article-content img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin: 2rem 0;
}

.btn-group .btn:hover {
    transform: translateY(-2px);
    transition: transform 0.2s;
}

.article-content blockquote {
    border-right: 4px solid var(--bs-primary);
    padding-right: 1.5rem;
    margin: 2rem 0;
    font-style: italic;
    color: #666;
}
