html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}



.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
#particle-canvas {
    width: 100%;
    height: 70%;
    position: absolute;
    z-index: 2;
    vertical-align: middle;
}

.decoration-1 {
    position: absolute;
    width: 250px;
    height: 250px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25rem;
    background: #ffffff0f;
    right: 5%;
    bottom: -30px;
    box-shadow: 1px 1px 20px 3px #ffffff0f;
}
.decoration-2 {
    position: absolute;
    width: 250px;
    height: 250px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25rem;
    background: #ffffff0f;
    right: 75%;
    top: -63px;
    box-shadow: 1px 1px 20px 3px #ffffff0f;
}

